<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Application Description">
    <meta name="author" content="Author Name">

    <title>{{page_title}}</title>
    <link href="{{URL_PREFIX}}/static/dist/css/bootstrap-yeti.min.css" rel="stylesheet" media="screen">
    <link href="{{URL_PREFIX}}/static/css/app.css" rel="stylesheet" media="screen">

</head>
<body>

    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="{{URL_PREFIX}}/">Home</a></li>

            </ul>
            <h3 class="text-muted">Application Name</h3>
        </div>

        %include('_index.tpl')
        
    </div>

    <script src="{{URL_PREFIX}}/static/dist/js/jquery.min.js"></script>
    <script src="{{URL_PREFIX}}/static/dist/js/bootstrap.min.js"></script>

</body>
</html>