<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Application Description">
    <meta name="author" content="Author Name">

    <title>{{page_title}}</title>
    <link href="{{URL_PREFIX}}/static/dist/css/bootstrap-yeti.min.css" rel="stylesheet" media="screen">
    <link href="{{URL_PREFIX}}/static/css/app.css" rel="stylesheet" media="screen">

</head>
<body>

    <div class="container">
        %include('_header.tpl')
        %include('_index.tpl')        
    </div>

    %include('_js.tpl')
</body>
</html>